// font-family: 'Raleway', sans-serif;
// font-family: 'Monoton', cursive;
// font-family: 'Syncopate', sans-serif;

html {
  font-family: 'Raleway', sans-serif;
}

h2.welcome  {
  font-family: 'Monoton', cursive;
  text-align: center;
  font-size: 120px;
  margin-top:100px;
  color:orange;
}

h3 {
  font-family: 'Seaweed Script', cursive;
  font-size: 25px;
  text-align:right;
}
// --------------------------- INDEX PHOTOS ------------------------------------
.card img {
    height: 150px;
    width:150px;
    object-fit: cover;

    &.materialized.active {
      max-height: none;
      object-fit: none;
    }
}

div.card-action {
  // height:30px;
}

body {
  background-color:whitesmoke;
}

// -----------------------------------NAVBAR------------------------------------

a.brand-logo {
  font-family: 'Syncopate', sans-serif;
  font-size:45px;
}

nav {

  line-height: 70px;

  li {

    a {
      font-size: 30px;
      line-height:70px;
      padding-left: 40px;
    }
  }
}

// -----------------------------USER PROFILE SHOW--------------------------------

#profileimg {
  height:300px;
  width:300px;
  margin-top:70px;
  border-radius:100%;
  object-fit: cover;
  position:fixed;
  left:40px;
  border: 3px dotted black;
}

.profile-card {
  margin-left: 20px;
  margin-top: 70px;
  width: 400px;
  position:fixed;
  left:400px;
  top: 100px;
  padding: 0;

  h2 {
    margin:0;
    margin-bottom: 20px;
  }
}

img.polaroid  {
  height:500px;
  position: absolute;
  top: 250px;
  right: -100px;
  transform: rotate(10deg);
}

// --------------------------------PICTURE SHOW--------------------------------

#showpic.card-image {
    height:400px;
    width:400px;
    margin:0;

    img {
      height:400px;
      width:400px;
    }
}

button, input #deletecomment {
  border:none;
  color:red;
  border-radius: 20p§x;
}

.comments {
  display:flex;
  align-items: baseline;
  padding-left:25px;
}

.commentsThemselves {
  justify-content: flex-end;

  button.commentErase {
    border-radius:2px;
    padding:0px;
    margin-left: 40px;
  }
}

.rightcomments {
  // border:1px solid red;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  flex-direction: column;
}

form.enterComment {
  align-self: baseline;
  display:flex;
  }

.burgerShow {
  align-self: baseline;
  display:flex;
}

.showBox {
  display:flex;
  align-items: center;
  justify-content: space-between;
}
