<nav class="blue accent-4">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">InstaSpam</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if(locals.isLoggedIn){ %>
        <li><a href="/logout">Logout (Signed in as <%= locals.user.userName %>)</a></li>
      <% } else { %>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/signin">Sign In</a></li>
      <%  } %>
    </ul>
  </div>
</nav>
