<nav class="black">
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/photos/new">Upload a photo</a></li>
      <% if(locals.isLoggedIn){ %>
        <li><a href="/logout">Log out</a></li>
      <% } else { %>
        <li><a href="/signup">Sign up</a></li>
        <li><a href="/signin">Log in</a></li>
      <%  } %>
    </ul>
  </div>
</nav>
