<nav class="black">
  <div class="nav-wrapper">
    <a class="brand-logo pull left" href="/">InstaSpam</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="large material-icons"><a href="/photos">explore</a></li>
      <% if(locals.isLoggedIn){ %>
        <li class="large material-icons"><a href="/photos/new">add_a_photo</a></li>
        <li class="large material-icons"><a href="/users/<%= user.id %>">account_circle</a></li>
        <li><a href="/logout">Log out</a></li>
      <% } else { %>
        <li><a href="/signup">Sign up</a></li>
        <li><a href="/signin">Log in</a></li>
      <%  } %>
    </ul>
  </div>
</nav>
