<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"> <img src="" alt=""> </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if(locals.isLoggedIn){ %>
        <li><a href="/logout">Log out</a></li>
      <% } else { %>
        <li><a href="/signup">Sign up</a></li>
        <li><a href="/signin">Log in</a></li>
      <%  } %>
      <li><a href="/albums">Albums</a></li>
      <li><a href="/albums/new">Create New Album</a></li>
    </ul>
  </div>
</nav>
