<h2>Edit photo</h2>
<form class="col l12" action="/photos/<%= photo._id %>" method="post">
  <input type="hidden" name="_method" value="PUT">
  <div class="input-field col l12">
    <img src="<%= photo.photourl %>" alt="">
    <input type="hidden" name="photourl" id= "photourl" value="<%= photo.photourl %>">
    <label for="photourl"></label>
  </div>
  <div class="input-field col l12">
    <input type="text" name="caption" id="caption" value="<%= photo.caption %>">
    <label for="caption">Caption</label>
  </div>
  <div class="input-field col l12">
  <button class="green btn">Save</button>
</div>
</form>
