<div class="row">
  <h1 class="grey-text">Discover</h1>
    <% photos.forEach((photo) => { %>
      <div class="col s4 m4 l4">
        <div class="card s4 m4 l4">
          <div class="responsive-img card-image">
            <img src="<%= photo.photourl %>">
          </div>
          <div class="card-action">
            <a href="/photos/<%=photo.id%>">view</a>
            <% if(photo.user) { %>
              <span class="card-title"><h6>"<%= photo.caption%>"</h6></span>
            <span class="card-title"><h6><%= photo.user.username %></h6></span>
            <% } %>
          </div>
        </div>
      </div>
    <% }) %>
</div>
