<h2>Upload a photo</h2>
<form class="col l12" action="/photo" method="post">
  <div class="input-field col l12">
    <input type="text" name="photourl" id="photourl">
    <label for="photourl">Photo URL</label>
  </div>
  <div class="input-field col l12">
    <input type="text" name="caption" id="caption">
    <label for="caption">Caption</label>
  </div>
  <div class="input-field col l12">
    <input type="date" name="date" id="date">
    <label for="date">Date</label>
  </div>
  <div class="input-field col l12">
  <button class="green btn">Create new album</button>
</div>
</form>
