<h2>sign in</h2>
<form class="signIn" action="/signin" method="post">
  <input type="email" name="email" value="">
  <label for="email">Email</label>
  <input type="password" name="password" value="">
  <label for="password">Password</label>
  <div class="input-field">
    <button class="green btn">Sign in</button>
  </div>
</form>
