<div class="">
  <img class="pull left" src="<%= user.profilephoto %>" alt="">
  <h1 class="pull left"><%= user.username %></h1>
  <h4><%= user.bio %></h4>
</div>

<a href="/users/<%= user.id %>/edit">edit</a>
