<h1 class="pull left"><%= user.username %></h1>
<img class="pull left" src="https://www.viawater.nl/files/default-user.png" alt="">


<%# <button type="button" name="button"> <a href="/edit"></a> edit profile</button> %>
