<div class="user-content">
    <img id="profileimg" class="pull left responsive-img" src="<%= user.profilephoto %>" alt="">
    <div class="col s12 m7 pull left profile-card">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <h2 class="header"><b>user</b> <%= user.username %></h2>
            <p><b>bio</b> <br> <%= user.bio %></p>
          </div>
          <div class="card-action">
            <a href="/users/<%= user.id %>/edit">edit</a>
          </div>
        </div>
      </div>
  </div>
</div>
  <img class ="polaroid responsive-img" src="/images/polaroid.png" alt="">
