<div class="">
  <div class="">
    <img id="profileimg" class="pull left responsive-img" src="<%= user.profilephoto %>" alt="">
    <div class="col s12 m7 pull left profile-card">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <h2 class="header"><%= user.username %></h2>
            <p><%= user.bio %></p>
          </div>
          <div class="card-action">
            <a href="/users/<%= user.id %>/edit">edit</a>
          </div>
        </div>
      </div>
  </div>
</div>
<br>
<img src="./images/polaroid.png" alt="">
